.card{
    background-color: rgb(34, 33, 33);
    padding: 10px;
    border-radius: 15px;
    font-family: Fredoka;
}
.card-img-top{
    height: 250px;
    object-fit:fill;
    margin: 0 auto;
    padding: 8px;
}